<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074039232849-i446bkordt9gor3jl0q7u7bavs2fuce7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074039232849-i446bkordt9gor3jl0q7u7bavs2fuce7</string>
	<key>API_KEY</key>
	<string>AIzaSyALrF0lF1MZrLB33FhSGd1Plx0FVonpcqU</string>
	<key>GCM_SENDER_ID</key>
	<string>1074039232849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FatihGursoy.Cuisiner</string>
	<key>PROJECT_ID</key>
	<string>cuisiner-cc0d3</string>
	<key>STORAGE_BUCKET</key>
	<string>cuisiner-cc0d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074039232849:ios:9c8ce88a95b3668763db70</string>
</dict>
</plist>